  @import url('https://fonts.googleapis.com/css2?family=Barlow:wght@600&family=Fraunces:opsz,wght@9..144,700;9..144,900&display=swap');

  /* -------------------- CSS RESET --------------------*/
  * {
      margin: 0;
      padding: 0;
      box-sizing: border-box;
  }

  img,
  input {
      width: 100%;
      vertical-align: bottom;
  }

  ul {
      list-style: none;
      cursor: pointer;
  }

  a {
      text-decoration: none;
      cursor: pointer;
  }

  body {
      --soft-red: hsl(7, 99%, 70%);
      --yellow: hsl(51, 100%, 49%);
      --dark-desaturated-cyan: hsl(167, 40%, 24%);
      /*  (graphic design text) */
      --dark-blue: hsl(198, 62%, 26%);
      /*  (photography text) */
      --dark-moderate-cyan: hsl(168, 34%, 41%);
      /*  (footer) */
      --very-dark-desaturated-blue: hsl(212, 27%, 19%);
      --very-dark-grayish-blue: hsl(213, 9%, 39%);
      --dark-grayish-blue: hsl(232, 10%, 55%);
      --grayish-blue: hsl(210, 4%, 67%);
      --white: hsl(0, 0%, 100%);
      /* font-family: 'Fraunces'; */
      font-family: 'Barlow';
  }

  /* ------------------------------------------------------ Header, nav ------------------------------------------------------ */
  header {
      background-image: url(/assets/img/mobile/image-header.jpg);
      background-attachment: fixed;
      background-size: contain;
      background-repeat: no-repeat;
      background-position: top center;
      height: 50vh;
  }

  nav .menu {
      display: none;
  }

  .menu.active {
      display: block;
      background-color: var(--white);
      width: 90%;
      height: 35vh;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      z-index: 2;
      position: absolute;
      top: 20px;
  }

  nav .menu li {
      color: var(--grayish-blue);
      font-size: 1.2rem;
      margin: 15px;
      padding: 10px 20px;
      transition: all 0.5s linear;
  }

  nav .menu li:hover {
      background-color: var(--yellow);
      border-radius: 20px;
      color: black;
      text-transform: uppercase;
      /* font-family: 'Fraunces';  */
  }

  nav #logo {
      width: 120px;
  }

  nav #burger {
      width: 20px;
      height: 20px;
      /* display: none; */
  }

  nav {
      width: 90%;
      margin: auto;
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding-top: 20px;
  }

  header h1 {
      color: var(--white);
      font-family: 'Fraunces';
      font-weight: 900;
      text-align: center;
      letter-spacing: 4px;
      text-transform: uppercase;
      margin-top: 100px;
  }

  header #arrow {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 35px;
      margin: auto;
      padding-top: 25px;
  }


  /* ------------------------------------------------- Section: "gallery-up" ------------------------------------------------------ */
  .transform {
      display: flex;
      flex-direction: column-reverse;
  }

  .transform span {
      display: block;
  }

  .gallery-up h2 {
      font-family: 'Fraunces';
      font-weight: 900;
      text-align: center;
      padding-top: 40px;
      color: var(--very-dark-desaturated-blue);
  }

  .gallery-up p {
      text-align: center;
      font-weight: 600;
      color: var(--dark-grayish-blue);
      padding: 20px;
      line-height: 25px;
  }

  .gallery-up img {
      display: block;
      border: none;
      outline: none;
  }

  .gallery-up .btn {
      background-color: rgba(255, 255, 255, 0);
      font-family: 'Fraunces';
      font-weight: 900;
      text-align: center;
      text-transform: uppercase;
      font-size: .9rem;
      /* border-bottom: 5px solid var(--yellow); */
      cursor: pointer;
      margin: auto;
      margin-bottom: 40px;
      width: fit-content;
      position: relative;
      z-index: 1;
  }
  
  #line-yellow {
      background-color: var(--yellow);
      border-radius: 10px;
      width: 120px;
      height: 7px;
      position: absolute;
      bottom: 5%;
      left: -7px;
      z-index: -1;    
  }

  #line-pink {
    background-color: var(--soft-red);
    border-radius: 10px;
    width: 120px;
    height: 7px;
    position: absolute;
    bottom: 5%;
    left: -7px;
    z-index: -1; 
  }

  #line-pink {}

  /* -------------------------------------------------  Section: "cerise-orange" ------------------------------------------------------ */

  #cerise-orange .mobile-img {
      display: block;
  }

  #cerise-orange .desktop-img {
      display: none;
  }

  #cerise-orange #cerise,
  #orange {
      position: relative;
  }

  #cerise-orange #text {
      position: absolute;
      top: 450px;
      text-align: center;
  }

  #cerise-orange h3 {
      font-family: 'Fraunces';
      font-weight: 900;
      color: var(--dark-desaturated-cyan);
  }

  #cerise-orange p {
      font-weight: 600;
      padding: 20px;
      line-height: 25px;
      color: var(--dark-desaturated-cyan);
  }


  /* ------------------------------------------------- Section: "testimonials" ------------------------------------------------------ */
  #testimonials h4 {
      font-family: 'Fraunces';
      font-weight: 900;
      text-align: center;
      margin: 40px 0;
      letter-spacing: 5px;
      text-transform: uppercase;
      color: var(--dark-grayish-blue);
  }

  #testimonials #client-card {
      text-align: center;
  }

  #testimonials #client-img {
      display: inline-block;
      border-radius: 50%;
      overflow: hidden;
  }

  #testimonials #client-img img {
      display: block;
      width: 90px;
      height: 90px;
      margin: auto;
  }

  #testimonials p {
      font-weight: 600;
      padding: 20px;
      line-height: 25px;
      text-align: center;
      color: var(--very-dark-grayish-blue);
      padding: 0;
  }

  #testimonials .client-name {
      font-family: 'Fraunces';
      font-weight: 900;
      text-align: center;
      color: var(--dark-blue);
      padding: 15px 0 5px 0;
  }

  #testimonials .client-profession {
      font-weight: 600;
      font-size: .9rem;
      color: var(--grayish-blue);
      padding-bottom: 50px;
  }

  /* ------------------------------------------------- Section: "gallery-down" ------------------------------------------------------ */
  #gallery-down {
      display: flex;
      flex-wrap: wrap;
      width: 100%;
  }

  #gallery-down div {
      width: 100%;
  }

  /* ----------------------------------------------------- Footer ---------------------------------------------------------- */
  footer {
      background-color: var(--dark-moderate-cyan);
  }

  footer #social-icons img {
      width: 20px;
      height: 20px;
      margin: 5px;
  }

  footer #social-icons {
      display: flex;
      justify-content: center;
      align-items: center;
  }

  footer #logo-footer {
      filter: invert(100%);
      opacity: .5;
      width: 150px;
      margin: auto;
      padding: 50px 0;
  }

  footer ul {
      display: flex;
      justify-content: space-around;
      align-items: center;
      list-style: none;
      padding-bottom: 70px;
      color: var(--dark-desaturated-cyan);
  }

  footer ul li:hover {
      color: var(--white);
      cursor: pointer;
  }

  footer #social-icons img:hover {
      filter: invert(100%);
      opacity: .5;
      cursor: pointer;
  }

  .attribution {
      text-align: center;
      font-size: .7rem;
      font-weight: 400;
      padding: 20px;
      color: var(--dark-blue);
  }

  .attribution a {
      text-decoration: none;
      cursor: pointer;
      color: var(--dark-blue);
  }


  /* =========================================================== Media Query =========================================================== */
  @media screen and (min-width: 576px) {

      /* media query: header, nav  */
      header {
          background-image: url(/assets/img/desktop/image-header.jpg);
          height: 100vh;
      }

      nav #burger {
          display: none;
      }

      nav .menu {
          display: flex;
          justify-content: space-between;
          align-items: center;
          list-style: none;
          flex-direction: row;
          width: fit-content;
          height: fit-content;
          position: static;
      }

      nav .menu li {
          display: inline-block;
          color: var(--white);
          margin: 10px;
          padding: 10px 20px;
          transition: all 0.5s linear;

      }

      nav ul li:hover {
          background-color: rgba(255, 255, 255, 0.286);
          color: var(--white);
          border-radius: 20px;
          text-transform: none;
      }

      header h1 {
          margin-top: 150px;
          font-size: 3rem;
      }

      header #arrow {
          padding-top: 60px;
      }

      /* media query: Section: "gallery-up" */
      .transform {
          display: flex;
          flex-direction: row;
      }

      .stand-out {
          display: flex;
          flex-direction: row;
      }

      #text-gallery-up,
      #transform-img,
      #stand-out-img {
          width: 50%;
          margin: auto;
      }

      .gallery-up h2 {
          font-size: 2rem;
          text-align: left;
          margin: 0 100px 0 100px;
          padding: 0 0 20px 0;
      }

      .gallery-up h2 span {
          display: block;
      }

      .gallery-up p {
          font-size: 18px;
          text-align: left;
          margin: 0 100px 0 100px;
          padding: 0 0 20px 0;
          ;
      }

      /* media query: Section: "cerise-orange" */
      #cerise-orange {
          display: flex;
          height: 60vh;
          overflow: hidden;
      }

      #cerise-orange .mobile-img {
          display: none;
      }

      #cerise-orange .desktop-img {
          display: block;
      }

      #cerise-orange p {
          padding: 20PX 180px;
      }

      /* media query: Section: "testimonials" */
      #testimonials h4 {
          margin: 100px 0;
      }

      #testimonials #cards {
          display: flex;
          width: 80%;
          margin: auto;
          justify-content: space-between;
          align-items: center;
      }

      #testimonials #client-card {
          width: 350px;
      }

      #testimonials #client-img {
          margin-bottom: 30px;
      }

      #testimonials .client-name {
          padding: 50px 0 5px 0;
      }

      /* media query: Section: "gallery-down"  */
      #gallery-down {
          display: flex;
          flex-wrap: nowrap;
      }

      /* media query: Footer */
      footer ul {
          display: flex;
          justify-content: center;
      }

      footer ul li {
          margin: 0 20px;
      }

      footer #social-icons img {
          margin: 20px 10px;
      }
  }